<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style></style>
  </head>
  <body>
    <div class="header">
      <div class="brand">
        <img [src]="imageHouse" alt="" style="width: 60px; height: 60px" />
        <h2>Cinematica</h2>
      </div>
      <div class="cards">
        <div class="home" (click)="redirectToHome()">
          <div>
            <img src="" alt="" />
          </div>
          <h3>Home</h3>
        </div>
        <div class="People" (click)="redirectToPeople()">
          <div>
            <img src="" alt="" />
          </div>
          <h3>People</h3>
        </div>
      </div>
      <div></div>
      <div></div>
    </div>
</body>
</html>
