<app-navigation></app-navigation>
<div class="grid-container">
  <div class="recommended">
    <h2>Actors</h2>
  </div>
  <div class="peoples">
    <p-carousel
      [value]="peopleData"
      [numVisible]="4"
      [numScroll]="4"
      [circular]="false"
      [responsiveOptions]="responsiveOptions"
    >
      <ng-template let-peopleData pTemplate="item">
        <div
          [ngStyle]="{
            background: ' url(' + peopleData.image + ')',
            'background-repeat': 'no-repeat',
            'background-size': '100%'
          }"
          class="wholeCard"
          (click)="redirectToPeopleDetailsPage(peopleData)"
        ></div>
        <div></div>
        <div class="name">
          <h3 class="mt-0 mb-3">
            {{ peopleData.name }}
          </h3>
        </div>

        <div></div>
      </ng-template>
    </p-carousel>
  </div>
</div>
