<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style></style>
  </head>
  <body>
    <app-navigation></app-navigation>
    <div class="grid-container">
      <div class="recommended">
        <h2>Actors</h2>
      </div>
      <div class="peoples">
        <p-carousel
          [value]="data"
          [numVisible]="5"
          [numScroll]="5"
          [circular]="false"
          [responsiveOptions]="responsiveOptions"

        >
          <ng-template let-data pTemplate="item">
              <div
                [ngStyle]="{
                  background: ' url(' + data.image + ')',
                  'background-repeat': 'no-repeat',
                  'background-size': '100%'
                }"

                class="wholeCard"
                (click)="redirectToPeopleDetailsPage(data)"

              >
              </div>
                <div></div>
              <div class="name">
                <h3 class="mt-0 mb-3">
                  {{ data.name }}
                </h3>
            </div>

            <div>
              <div
                class="mt-5 flex align-items-center justify-content-center gap-2"
              ></div>
            </div>
          </ng-template>
        </p-carousel>
      </div>
    </div>
  </body>
</html>
