<app-navigation></app-navigation>
<div class="flex align-items-center justify-content-end">
  <span class="mx-1 text-color"> </span>
<div class="header">
  <app-greet [message]="parentMessage"> </app-greet>
  <p-paginator
    class="paginator"
    [first]="first2"
    [rows]="rows2"
    [totalRecords]="movieData.length"
    (onPageChange)="onPageChange2($event)"
    [showCurrentPageReport]="true"
    [showPageLinks]="false"
    [showFirstLastIcon]="false"
  >
  </p-paginator></div>
  <section class="sectionUpcoming">
    <div *ngFor="let item of data">
      <app-card [data]="item" (redirectEvent)="redirectToMovieDetailsPage($event)"></app-card>
    </div>
  </section>
<div class="header">
  <app-greet [upcoming]="upcomingMessage"> </app-greet>
  <p-paginator
    class="paginator2"
    [first]="first"
    [rows]="rows"
    [totalRecords]="latestMovieData.length"
    (onPageChange)="onPageChange($event)"
    [showCurrentPageReport]="true"
    [showPageLinks]="false"
    [showFirstLastIcon]="false"
  >
  </p-paginator>
</div>
  <section class="sectionUpcoming">
    <div *ngFor="let item of latestMovies">
      <app-card [data]="item" (redirectEvent)="redirectToMovieDetailsPage($event)"></app-card>
    </div>
  </section>
</div>
