.grid-container {
  display: grid;
  max-width: 2000px;
  margin: 0;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: minmax(50px, auto);
}
h1 {
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.cards {
  display: flex;
  gap: 10px;
  height: 90px;
}

.active {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(4, 37, 37, 0.637);
  width: 90px;
  border-radius: 5px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;

}
.People {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(15, 82, 82, 0.637);
  width: 90px;
  border-radius: 5px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  cursor: pointer;
  position: relative;
}
button {
  background-color: rgba(15, 82, 82, 0.637);
  color: white;
}


.sectionUpcoming {
  display: flex;
  gap: 25px;
  justify-content: center;
}

:host ::ng-deep .p-paginator {
  display: flex;
  justify-content: flex-end;
  background-color: black;
}
.header{
  display: flex;
  justify-content: space-between;
}