h1 {
  color: white;
  width: max-content;
}
.text {
  display: flex;
  grid-column: 1/6;
  grid-row: 2;
  flex-direction: column;
  color: white;
}
h3 {
  color: white;
  transition: all 0.3s ease;
  font-size: 100%;
  width: 90px;
}

h3:hover {
  color: gold;
  padding-left: 10px;
}

.movieImage {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap:50px
}
image{

}
.inputStars {
  display: grid;
  flex-direction: column;
}
.smallText {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  align-items: center;
}

h4 {
  color: white;
  width: 750px;
  font-family: "inter var", sans-serif;
  line-height: 1.5rem;
  font-weight: normal;
}
.input {
  grid-column: 2;
  display: flex;
}
video {
  height: 500px;
  width: 1000px;
}
.align {
  display: flex;
  gap: 15px;
}
