h1 {
  color: white;
}
.text {
  display: flex;
  grid-column: 1/6;
  grid-row: 2;
  flex-direction: column;
  color: white;
}
h3 {
  color: white;
  transition: all 0.3s ease;
  font-size: 100%;
  width: 90px;
}

h3:hover {
  color: gold;
  padding-left: 10px;
}
.movieImage {
  display: grid;
  gap: 40px;
}
.inputStars {
  display: grid;
  flex-direction: column;
}
.smallText {
  display: flex;
  justify-content: left;
  align-items: center;

}

h4 {
  color: white;
  width: 750px;
  line-height: 1.5rem;
}
.input {
  grid-column: 2;
  display: flex;


}
video {
  height: 500px;
  width: 1000px;
}
.align{
  display: flex;
  gap:15px
}