.header {
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-between;
  }

.button {
    display: flex;
}
.active {
    color: white
}
a{
    color:white;
    text-decoration: none;
}
.card-container{
   display:flex;
   gap:25px;
   justify-content: center;
}

input{
    background-color: rgba(169, 169, 169, 0.164);
    border-color: transparent
}