<div class="header">
  <div>
    <a href="http://localhost:4200/"
      ><img [src]="imageHouse" alt="" style="width: 110px; height: 60px"
    /></a>
  </div>
  <span class="p-input-icon-right">
    <i class="pi pi-search"></i>

    <input
      type="text"
      placeholder="Search"
      class="p-inputtext-lg"
      pInputText
      [(ngModel)]="value"
    />
  </span>
  <div class="card-container">
    <div *ngFor="let item of links" class="cards">
      <a
        class=""
        [routerLinkActiveOptions]="{ exact: true }"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        [routerLink]="item.link"
      >
        <img [src]="item.image" alt="" />
        <h3>{{ item.header }}</h3>
      </a>
    </div>
  </div>
</div>
